###> symfony/framework-bundle ###
/.env
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/config/secrets/prod/*.key
/config/secrets/dev/dev.decrypt.private.php
/config/secrets/*.local.php
/public/bundles/
/public/assets/
/var/
/vendor/
/.env.docker
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/asset-mapper ###
/assets/vendor/
###< symfony/asset-mapper ###

###> tests ###
/tests/
###< tests ###

###> IDE ###
.vscode/
.idea/
###< IDE ###